@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {  
    --primary-color: #FFFEFE;
    --secondary-color: #EABDCB;
    --black-color: #030303;
    --gray-color: #FAF1F1;
    --blue-color: #2A3057;;
    --green-color: #306E66;;


  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

